<aside class="aside">  
    <div class="row">
        <div class="logo">
            <img src="./img/logo.svg" alt="logo">
        </div>
    </div>

    <div class="row">
        <div class="menu"> 
            <div class="menu__block">
                <ul class="menu__list">
                    <li class="menu__item menu__item-active">
                        <a href="#">Главная</a>
                    </li>
                    <li class="menu__item menu__item-active">
                        <a href="/timetable">Расписание группы</a>
                    </li>                            
                    <li class="menu__item menu__item-active">
                        <a href="#">Расписание общее</a>
                    </li>                          
                    <li class="menu__item menu__item-active">
                        <a href="#">Диалоги</a>
                    </li>
                </ul>
            </div>

            <div class="menu__block">
                <p class="menu__header">Аккаунт</p>
                <ul class="menu__list">
                    <li class="menu__item menu__item-active">
                        <a href="#">Профиль</a>
                    </li>                          
                    <li class="menu__item menu__item-active">
                        <a href="/logout" class="menu__logout">Выйти</a>
                    </li>
                </ul> 
            </div>

        </div>
    </div> 
</aside>