<footer class="footer container">
    <div class="footer__row">
        <div class="footer__column">
            <ul>
                <li>Контактная информация:</li>
                <li>Почта: vvvlador1@mail.ru</li>
            </ul>
        </div>
        <div class="footer__column">
             <ul>
                 <li>Разработано:</li> 
                 <li>Web Studio - SpectraDev</li> 
             </ul>
        </div>
    </div>
 </footer>