<!DOCTYPE html>
<html lang="en"> 
<head>
    <%- include('includes/head') %>
</head>
<body>
    <div class="wrapper">  

        <main class="main"> 
            <%- include('includes/header', { user }) %>
  
            <section class="page-name container">
                <h6>Аутентификация</h6>
            </section>
 
            <section class="content container"> 
                <div class="content__wrapper">
                    <form action="/registration" method="post" class="registration auth"> 
                    
                        <div class="auth__header">
                            <a href="/registration" class="auth__link auth__link-active">Регистрация</a>
                            <a href="/authorization" class="auth__link">Авторизация</a>
                        </div>
    
                        <div class="auth__body">
                            <input type="text" class="auth__item" name="name" placeholder="ФИО">
                            <input type="text" class="auth__item" name="login" placeholder="Логин"> 
                            <input type="text" class="auth__item" name="password" placeholder="Пароль"> 
                            <input type="text" class="auth__item" name="group" placeholder="Номер группы">
    
                            <select class="auth__item" name="facultet">
                                <option value="И">Инженерный факультет</option>
                                <option value="Г">Гуманитарный факультет</option>
                              </select>
    
                            <button type="button" class="auth__item auth__btn js-registration">Зарегистрироваться</button>
                        </div>  
                    </form> 
                     
                </div>
            </section> 
            <%- include('includes/footer') %>
        </main>  
    </div> 

    <script type="module" src="./js/index.js"></script>
</body>
</html>